@charset "UTF-8";

.form-container {
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h3 {
    text-align: center;
}

.user-info {
    margin-top: 3px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr .5fr;
    grid-template-areas: 
    "label input"
    "error error"
    ;
    gap: 0;
    padding: 0px 50px;
}

.user-info label {
    grid-area: label;
}

.user-info input {
    grid-area: input;
    border-radius: 5px;
}

form {
    display: flex;
    justify-content: center;
    flex-direction: column;
}