@charset "UTF-8";

.form-container {
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
}

h1 {
    text-align: center;
}

form h3 {
    text-align: center;
    margin-bottom: 15px;
}

input {
    border: solid var(--blue) 1px;
}

.user-info {
    margin-top: 3px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr .5fr;
    grid-template-areas: 
    "label input"
    "error error"
    ;
    padding: 0px 50px;
}

.user-info label {
    grid-area: label;
    margin-right: 2px;
}

.user-info input {
    grid-area: input;
    border-radius: 5px;
}

form {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.bad input {
    border: 2px solid red;
    border-radius: 5px;
}

#error {
    grid-area: error;
    grid-column-start: 2;
    color: red;
    font-size: 9px;
    height: 10px;
}

#register-a {
    width: 25%;
    text-align: center;
}

a {
    margin-top: 5px;
}