@charset "UTF-8";

:root {
    --blue: #add1ce;
    --dark-blue: #9ab9b6;
    --white: #f4f6f6;
    --light-grey: #e3e3e3;
    --grey: #bdbdbd;
    --dark-grey: #8f8f8f;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
}

#registration-div {
    margin:auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

#registration-div input {
    margin-bottom: 1%;
}

.main-nav {
    /* position: relative; */
    display: flex;
    justify-content: space-between;
    color: var(--dark-grey);
    background-color: var(--grey);
    margin: 0;
}

.main-nav h2 {
    margin: 0;
    color: var(--dark-grey);
}

.main-nav h4 {
    margin-top: 9px;
    color: var(--dark-grey);
}

.main-nav a {
    text-decoration: none;
    color: var(--dark-grey);
}

#project-items {
    display: flex;
    background-color: var(--light-grey);
}

.list {
    height: 85vh;
    width: 30vw;
    background-color: var(--white);
    opacity: 90%;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    margin-left: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.todo {
    opacity: 85%;
}

.doing {
    opacity: 75%;
}

.done {
    opacity: 55%;
}

.list div {
    order: 3;
}

.list div:hover {
    filter: brightness(85%);
}

button {
    background-color: var(--blue);
    color: white;
    padding: 5px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    font-weight: 500;
    width: 100px;
    margin: auto;
}

button:hover {
    background-color: var(--dark-blue);
}