<!DOCTYPE html>
<html lang="en" xmlns="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>taskman login</title>
	<link rel="stylesheet" href="../css/style.css">
	<link rel="stylesheet" href="../css/login.css">
    <script src="../static/js/validate.js"></script>
</head>
<body>
	<div class="form-container">
        <form method="post" id="login-form"
        th:action="@{/login}">
            <h3>Login</h3>
            <div class="user-info">
                <label for="email">email</label>
                <input id="email" name="email" type="email">
                <div id="error"></div>
            </div>
            <div class="user-info">
                <label for="password">password</label>
                <input id="password" name="password" type="password">
                <div id="error"></div>
            </div>
            <button id="submit-btn" type="submit">log in</button>
        </form>
        <a href="/" id="register-a">Don't have an account yet? Register now!</a>
    </div>
</body>
</html>