<!DOCTYPE html>
<html lang="en" xmlns="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>taskman</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <header>
        <nav class="main-nav">
            <h2>taskman</h2>
            <a href="/users/1"><p>Profile</p></a>
            <a href="/team"><p>Team</=></a>
            <span></span>
            <span></span>
            <a href="/"><p>Logout</p></a>
        </nav>
    </header>
    <section id="project-items" class="container">
        <div class="todo list">
            <h3>To do</h3>
            <ul th:each="todoTask : ${todoTasks}">
                <li th:text="${todoTask.name}">
                     <a th:href="@{project}">Edit</a> 
                     <a th:href="@{/project}">Delete</a>
                </li>
            </ul>
            <ul>
                <li class="urgent">
                    Send out quarterly reports
                </li>
                <li>
                    Schedule interviews
                </li>
            </ul>
            <!-- <form method="post" id="todo-form" 
            th:action="@{/project}" th:object="${task}">
                <input type="text" placeholder="Add item" th:field="*{name}">
            </form> -->
            <form action="">
                <input type="text" placeholder="Add item">
            </form>
        </div>
        <div class="doing list">
            <h3>Doing</h3>
            <ul th:each="doingTask : ${doingTasks}">
                <li th:text="${doingTask.name}"> <a >Delete</a></li>
            </ul>
            <ul>
                <li>
                    Complete budget proposal
                </li>
            </ul>
            <!-- <form method="post" id="doing-form" 
            th:action="@{/project}" th:object="${task}">
                <input type="text" placeholder="Add item" th:field="*{name}">
            </form> -->
            <form action="">
                <input type="text" placeholder="Add item">
            </form>
        </div>
        <div class="done list">
            <h3>Done</h3>
            <ul th:each="doneTask : ${doneTasks}">
                <li th:text="${doneTask.name}"> <a >Delete</a></li>
            </ul>
            <ul>
                <li>
                    Review resumes
                </li>
            </ul>
            <!-- <form method="post" id="done-form" 
            th:action="@{/project}" th:object="${task}">
                <input type="text" placeholder="Add item" th:field="*{name}">
            </form> -->
            <form action="">
                <input type="text" placeholder="Add item">
            </form>
        </div>
    </section>
    
</body>
</html>