<!DOCTYPE html>
<html lang="en" xmlns="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>taskman</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <header>
        <nav class="main-nav">
            <h2>taskman</h2>
            <a href="/users{id}"><h4>Profile</h4></a>
            <a href="/users"><h4>Team</h4></a>
            <span></span>
            <span></span>
            <a href="/"><h4>Logout</h4></a>
        </nav>
        <section id="project-items">
            <div class="todo list">
                <div>Add item</div>
            </div>
            <div class="doing list">
                <div>Add item</div>
            </div>
            <div class="done list">
                <div>Add item</div>
            </div>
        </section>
    </header>
    
</body>
</html>