<!DOCTYPE html>
<html lang="en" xmlns="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>taskman</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <header>
        <nav class="main-nav">
            <h2>taskman</h2>
            <a href="/users/{id}"><p>Profile</p></a>
            <a href="/team"><p>Team</=></a>
            <span></span>
            <span></span>
            <a href="/"><p>Logout</p></a>
        </nav>
    </header>
    <section id="project-items" class="container">
        <div class="todo list">
            <h3>To do</h3>
            <ul th:each="task : ${tasks}">
                <li th:text="${task.name}">
                    <span th:if="${task.urgent == true" class="urgent"></span>
                </li>
                <li class="urgent">urgent task, no div</li>
                <div class="urgent">
                    <li>urgent task, div</li>
                </div>
                <li>non urgent task</li>
            </ul>
            <div>Add item</div>
            <ul>
                <li class="urgent">urgent task, no div</li>
                <div class="urgent">
                    <li>urgent task, div</li>
                </div>
                <li>non urgent task</li>
            </ul>
        </div>
        <div class="doing list">
            <h3>Doing</h3>
            <div>Add item</div>
        </div>
        <div class="done list">
            <h3>Done</h3>
            <div>Add item</div>
        </div>
    </section>
    
</body>
</html>