<!DOCTYPE html>
<html lang="en" xmlns="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>taskman</title>
<link rel="stylesheet" href="../css/style.css">
</head>
<body>
	<header>
        <nav class="main-nav">
            <h2>taskman</h2>
            <!-- <a th:href="@{/users/{id}(id=${user.id})?:1}"><p>Profile</p></a> -->
			<!-- <a th:href="@{'/users/' + (${user.id})?:1}"><p>Profile</p></a> -->
			<a href="/users/1"><p>Profile</p></a>
			<a href="/team"><p>Team</p></a>
            <span></span>
            <span></span>
            <a href="/"><p>Logout</p></a>
        </nav>
    </header>
	<section class="container">
		<h1>Your Team</h1>
		<table class="users-table">
			<thead>
				<tr>
					<th>First Name</th>
					<th>Last Name</th>
					<th>Email</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="user : ${usersList}">
					<td th:text="${user.firstname}"></td>
					<td th:text="${user.lastname}"></td>
					<td th:text="${user.email}"></td>
				</tr>
			</tbody>
		</table>
		<a href="/teams">Join a new team!</a>
	</section>
</body>
</html>