<!DOCTYPE html>
<html lang="en" xmlns="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/login.css">
</head>
<body>
    <div class="form-container">
        <form action="get" id="registration-form">
            <h2>Register</h2>
            <div class="user-info">
                <label for="email">email</label>
                <input id="email" name="email" type="text">
                <div id="error"></div>
            </div>
            <div class="user-info">
                <label for="email">email</label>
                <input id="email" name="email" type="text">
                <div id="error"></div>
            </div>
            <div class="user-info">
                <label for="email">email</label>
                <input id="email" name="email" type="text">
                <div id="error"></div>
            </div>
            <div class="user-info">
                <label for="password">password</label>
                <input id="password" name="password" type="password">
                <div id="error"></div>
            </div>
            <button id="submit-btn" type="submit">log in</button>
        </form>
    </div>
</body>
</html>